<div class="navbar-fixed">
  <nav class="nav-dev_app">
    <a href="#" data-target="slide-out" class="sidenav-trigger left"><i class="material-icons">menu</i></a>
    <div class="nav-wrapper container">
      <a href="/" class="brand-logo center" data-turbolinks='false'><%= image_tag 'logo.svg', class:'brand__logo' %></a>
    </div>
  </nav>
</div>
  <ul id="slide-out" class="sidenav z-depth-2">
  <% if user_signed_in? %>
    <div class="slide_user_options">
      <%= link_to(destroy_user_session_path, method: 'delete') do %>
        <i class="material-icons slide_nav_icons slide_mobile_icons right">keyboard_tab</i>
      <% end %>
      <%= link_to(edit_user_registration_path) do %>
        <i class="material-icons slide_nav_icons slide_mobile_icons right">mode_edit</i>
      <% end %>
    </div>
  <% end %>

    <li><div class="divider divider_first"></div></li>

    <li>
      <%= link_to root_path do %>
        <i class="material-icons slide_nav_icons slide_mobile_icons">find_in_page</i>
        <span class='local_text'>Consultar</span>
      <% end %>
    </li>
    <li><div class="divider"></div></li>
    <% if current_user&.super_admin? %>
      <li>
        <%= link_to users_path do %>
          <i class="material-icons slide_nav_icons slide_mobile_icons">account_circle</i>
          <span class='local_text'>Users</span>
        <% end %>
      </li>
    <% elsif current_user&.company? %>
      <li>
        <%= link_to current_user do %>
          <i class="material-icons slide_nav_icons slide_mobile_icons">account_circle</i>
          <span class='local_text'>Perfil</span>
        <% end %>
      </li>
    <% else %>
      <li>
        <%= link_to new_user_session_path do %>
          <i class="material-icons slide_nav_icons slide_mobile_icons">account_circle</i>
          <span class='local_text'>Iniciar Sesion</span>
        <% end %>
      </li>
    <% end %>
    <li><div class="divider"></div></li>
    <li class="">
      <div class="creator_div center">
        by: afuro.com.co
      </div>
    </li>
  </ul>
