<%= form_with(model: location, local: true) do |form| %>
  <div class="col s12">
    <% if location.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(location.errors.count, "error") %> prohibited this location from being saved:</h2>

        <ul>
          <% location.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="card">
      <div class="card-action card_action_title">
        <span class="card-title white-text">Location</span>
        <div class="actions waves-effect waves-light btn right action_button_card action_button_card_first_right">
          <%= form.submit 'ENVIAR' %>
        </div>
        <% if current_user.super_admin? %>
          <%= link_to 'ATRAS', locations_path, class:"actions waves-effect waves-light btn right action_button_card" %>
        <% elsif current_user.company? %>
          <%= link_to 'ATRAS', current_user, class:"actions waves-effect waves-light btn right action_button_card" %>
        <% end %>
      </div>
      <div class="card-content">
        <div class="row card_content_row">
          <div class="input-field col s6">
            <%= form.label :name, 'Nombre' %>
            <%= form.text_field :name %>
          </div>

          <div class="input-field col s6">
            <%= form.label :phone, 'Teléfono' %>
            <%= form.text_field :phone %>
          </div>

          <div class="input-field col s12">
            <%= form.label :category, 'Servicios' %>
            <%= form.text_field :category %>
          </div>

          <div class="input-field col s6">
            <%= form.collection_select :state_id, State.list_states, :second, ->(state) { state.first.titleize }, { include_blank: '' }, { class: 'js-choice' } %>
            <%= form.label :state_id, 'Departamento', class: 'active' %>
          </div>

          <div class="input-field col s6">
            <%= form.collection_select :city_id, City.list_cities, :second, ->(city) { city.first.titleize }, { include_blank: '' }, { class: 'js-choice' } %>
            <%= form.label :city_id, 'Ciudad o Municipio', class: 'active' %>
          </div>

          <% if current_user.super_admin? %>
            <div class="input-field col s6">
              <%= form.collection_select :user_id, User.list_users, :second, ->(user) { user.first.titleize }, {}, { class: 'js-choice' } %>
              <%= form.label :user_id, 'Usuario', class: 'active' %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>
